body {
    background: #2D230A;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
label {
    display: block;
}
#sidebar {
    color: #fff;
    margin-left: 16px;
    padding: 16px;
    position: fixed;
    max-width: 150px;
}
#sidebar a {
    color: #DBD646;
}
#controls {
    font-weight: bold;
}
#controls input {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    padding: 4px 6px;
}
#controls button {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px 16px;
}
.tooltipsy {
    background-color: #DBD646;
    border: 2px solid #fff;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    color: #303030;
    max-width: 200px;
    padding: 16px;
    text-shadow: none;
}



