body {
    font-family: sans-serif;
    margin: 16px;
    padding: 0;
}
dt {
    font-weight: bold;
}
canvas {
    background: #272119;
}
label {
    display: block;
}
input {
    border: 1px #272119 solid;
    padding: 4px;
}
#controls {
    border: 1px solid #272119;
    box-shadow: 1px 1px 2px #272119;
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 16px;
    padding: 16px;
}
#display {
    border: 1px solid #272119;
    box-shadow: 1px 1px 2px #272119;
    display: inline-block;
    margin-bottom: 16px;
    padding: 16px;
    vertical-align: top;
}
