body {
    background: #2D230A;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
label {
    display: block;
}
#sidebar {
    color: #fff;
    margin-left: 16px;
    padding: 16px;
    position: fixed;
    max-width: 150px;
}
#sidebar a {
    color: #DBD646;
}
#controls {
    font-weight: bold;
}
#controls input {
    background: none;
    border: 2px solid #fff;;
    color: #fff;
    font-weight: bold;
    padding: 4px;
}
#controls button {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px 16px;
}
.tooltipsy {
    background: #DBD646;
    margin-left: 6px;
    padding: 8px 12px;
}
#display {
    display: inline;
    margin: 0;
    padding: 0;
    line-height: 0;
}
#display canvas {
    margin: 0;
    padding: 0;
    line-height: 0;
}



